@tailwind base;
@tailwind components;
@tailwind utilities;


.hide-scroll::-webkit-scrollbar {
    display: none; /* for Chrome, Safari and Opera */
}

.hide-scroll{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
